// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.top-info {
  height: 200px;
  width: 800px;
  margin: 0 auto;
  text-align: center;
  line-height: 50px;
  background-position: center;
  background-size: cover;
}

.top-items{
  display: flex;
  flex-wrap: wrap;
}

.top-item-contents{
  display: flex;
}